body {
    font-family: Arial, sans-serif;
    background: #c7bbbb;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  
.container h1 {
    text-align: center;
    margin-bottom: 40px;
 }

.container {
    margin: 20px auto;
    background: rgba(147, 54, 54, 0.994);
    padding: 20px;
    border-radius: 30px;
    color: white;
    width: 500px;
    border: 2px solid #420707; 
  }

.new-tasks {
    margin-top: 0.1px;
    background: rgba(147, 54, 54, 0.994);
    border: 2px solid #420707;
    height: 800px;
    overflow-y: auto;
    padding: 20px; 
  }
  
input {
    width: 75%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  
button {
    width: 20%;
    padding: 10px;
    background-color: #b47a7a;
    color: white;
    border: none;
    border-radius: 10px;
  }

ul {
    list-style-type: none;
    padding: 0;
  }
  
.new-tasks li {
    display: flex;
    align-items: center;
    padding: 6px;
    gap: 10px;
    background-color: #b47a7a;
    margin-bottom: 6px;
    justify-content: flex-start;
    border-radius: 10px;
    word-wrap: break-word;
    position: relative;
  }
  
.new-tasks li button {
    width: 100%;
    background: rgb(104, 21, 21);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
  }

.new-tasks li input[type="checkbox"] {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

.new-tasks li span {
    flex-grow: 1;
    text-align: left;
    word-wrap: break-word;
    line-height: 20px;
    padding-left: 5px;
  }